$navbar-color: #ffb4b0;
$song-form-color: #4DD7FA;
$song-info-color: #FEFAC0;
$song-title-color: #785616;

.container {
    width: 90%;
}

.nav {

    border: 1.5px solid black;
    background-color: $navbar-color;
    /*margin: 20px 70px 0 70px;*/
    height: 35px;
    font-family: "Arial";
    font-size: 11px;

    li {
        float: left;
        list-style-type: none;
        margin: 10px 50px 0 10px;
        font-family: "Arial";
        cursor: pointer;
    /*    padding-right: 10px;
        border-right: 5px;*/
    }

}


.link--listmusic {
    padding-right: 10px;
    border-right: 5px;
    border-color: solid black;
}

.link--profile {
    padding-left: 10px;
    border-left: 5px;
    border-color: solid black;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.bluebox {
    border: 1.5px solid black;
    background-color: $song-form-color;
    font-family: "Arial";
    font-size: 11px;
    height: 250px;
    width: 140px;
    float: left;
    display: inline;
    margin: 10px 5px 0px 70px;
}

.left-genres {
    float:left;
    width: 50%;
}

.right-genres {
    float:left;
    width: 50%;
}

#song-info {
    border: 1.5px solid black;
    background-color: $song-info-color;
    float: left;
    /*height: 250px;*/
    width: 70%;
    display: inline;
    /*margin: 10px auto 0px 5px;*/
    padding: 5px 20px;
    font-size: 14px;
    font-family: "Arial";

    p {
        margin: 5px auto;    
    }

}

.song-title {
    color: $song-title-color;
    font-size: 1.3em;
}

#song {
    padding: 5px 0px;
}







